In [98]:
import featuretools as ft
import numpy as np
import pandas as pd

In [99]:
 data = pd.read_csv("input.csv")

In [100]:
print('data size', data.shape)

data size (1000, 23)

In [101]:
# saving identifiers
data_Item_Identifier = data ['cc_num']
data_Outlet_Identifier = data ['zip']
amount_spent = data['amt']

//Data Validation

In [102]:
data.isnull().sum()

Unnamed: 0               0
trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [103]:
data['gender'].value_counts()

F    555
M    445
Name: gender, dtype: int64

In [104]:
gender_content_dict = {'F':0, 'M':1}
data['gender'] = data['gender'].replace(gender_content_dict, regex=True)

In [63]:
data

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,21-06-2020 12:14,2290000000000000,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,1,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,19-03-1968,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,21-06-2020 12:14,3570000000000000,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,0,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",17-01-1990,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,21-06-2020 12:14,3600000000000000,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,0,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",21-10-1970,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,21-06-2020 12:15,3590000000000000,fraud_Haley Group,misc_pos,60.05,Brian,Williams,1,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,25-07-1987,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,21-06-2020 12:15,3530000000000000,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,1,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,06-07-1955,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555714,555714,31-12-2020 23:59,30600000000000,fraud_Reilly and Sons,health_fitness,43.77,Michael,Olson,1,558 Michael Estates,...,40.4931,-91.8912,519,Town planner,13-02-1966,9b1f753c79894c9f4b71f04581835ada,1388534347,39.946837,-91.333331,0
555715,555715,31-12-2020 23:59,3560000000000000,fraud_Hoppe-Parisian,kids_pets,111.84,Jose,Vasquez,1,572 Davis Mountains,...,29.0393,-95.4401,28739,Futures trader,27-12-1999,2090647dac2c89a1d86c514c427f5b91,1388534349,29.661049,-96.186633,0
555716,555716,31-12-2020 23:59,6010000000000000,fraud_Rau-Robel,kids_pets,86.88,Ann,Lawson,0,144 Evans Islands Apt. 683,...,46.1966,-118.9017,3684,Musician,29-11-1981,6c5b7c8add471975aa0fec023b2e8408,1388534355,46.658340,-119.715054,0
555717,555717,31-12-2020 23:59,4080000000000,fraud_Breitenberg LLC,travel,7.99,Eric,Preston,1,7020 Doyle Stream Apt. 951,...,44.6255,-116.4493,129,Cartographer,15-12-1965,14392d723bb7737606b2700ac791b7aa,1388534364,44.470525,-117.080888,0
555718,555718,31-12-2020 23:59,4170000000000000,fraud_Dare-Marvin,entertainment,38.13,Samuel,Frey,1,830 Myers Plaza Apt. 384,...,35.6665,-97.4798,116001,Media buyer,10-05-1993,1765bb45b3aa3224b4cdcb6e7a96cee3,1388534374,36.210097,-97.036372,0

In [105]:
data['id'] = data['trans_num']

In [106]:
# creating and entity set 'es'
es = ft.EntitySet(id = 'fraud_feature')
es.add_dataframe(
    dataframe_name="data",
    dataframe=data,
    index="id",
    time_index="trans_date_trans_time",
    logical_types="",
)

# adding a dataframe 
#es.entity_from_dataframe(entity_id = 'featuremart', dataframe = data, index = 'id')

Entityset: fraud_feature
  DataFrames:
    data [Rows: 1000, Columns: 24]
  Relationships:
    No relationships

In [114]:
es.normalize_dataframe(
    "data",
    "feature_dataframe",
    "trans_num",
    additional_columns=None,
    copy_columns=None,
    make_time_index=None,
    make_secondary_time_index=None,
    new_dataframe_time_index=None,
    new_dataframe_secondary_time_index=None,
)

C:\Users\Pushpanath\anaconda3\lib\site-packages\woodwork\column_schema.py:185: DuplicateTagsWarning: Semantic tag(s) 'foreign_key' already present on column 'trans_num'
  warnings.warn(
C:\Users\Pushpanath\anaconda3\lib\site-packages\featuretools\entityset\entityset.py:379: UserWarning: Not adding duplicate relationship: <Relationship: data.trans_num -> feature_dataframe.trans_num>
  warnings.warn("Not adding duplicate relationship: " + str(relationship))

Entityset: fraud_feature
  DataFrames:
    data [Rows: 1000, Columns: 24]
    feature_dataframe [Rows: 1000, Columns: 2]
  Relationships:
    data.trans_num -> feature_dataframe.trans_num

NameError: name 'feature_dataframe' is not defined

In [110]:
feature_matrix, feature_names = ft.dfs(
    dataframes=data,
    relationships=None,
    entityset=es,
    target_dataframe_name="feature_dataframe",
    cutoff_time=None,
    instance_ids=None,
    agg_primitives=None,
    trans_primitives=None,
    groupby_trans_primitives=None,
    allowed_paths=None,
    max_depth=2,
    ignore_dataframes=None,
    ignore_columns=None,
    primitive_options=None,
    seed_features=None,
    drop_contains=None,
    drop_exact=None,
    where_primitives=None,
    max_features=-1,
    cutoff_time_in_index=False,
    save_progress=None,
    features_only=False,
    training_window=None,
    approximate=None,
    chunk_size=None,
    n_jobs=1,
    dask_kwargs=None,
    verbose=False,
    return_types=None,
    progress_callback=None,
    include_cutoff_time=True,
)

In [112]:
feature_matrix.columns

Index(['COUNT(data)', 'MAX(data.Unnamed: 0)', 'MAX(data.amt)',
       'MAX(data.cc_num)', 'MAX(data.city_pop)', 'MAX(data.gender)',
       'MAX(data.is_fraud)', 'MAX(data.lat)', 'MAX(data.long)',
       'MAX(data.merch_lat)', 'MAX(data.merch_long)', 'MAX(data.unix_time)',
       'MAX(data.zip)', 'MEAN(data.Unnamed: 0)', 'MEAN(data.amt)',
       'MEAN(data.cc_num)', 'MEAN(data.city_pop)', 'MEAN(data.gender)',
       'MEAN(data.is_fraud)', 'MEAN(data.lat)', 'MEAN(data.long)',
       'MEAN(data.merch_lat)', 'MEAN(data.merch_long)', 'MEAN(data.unix_time)',
       'MEAN(data.zip)', 'MIN(data.Unnamed: 0)', 'MIN(data.amt)',
       'MIN(data.cc_num)', 'MIN(data.city_pop)', 'MIN(data.gender)',
       'MIN(data.is_fraud)', 'MIN(data.lat)', 'MIN(data.long)',
       'MIN(data.merch_lat)', 'MIN(data.merch_long)', 'MIN(data.unix_time)',
       'MIN(data.zip)', 'MODE(data.category)', 'MODE(data.state)',
       'NUM_UNIQUE(data.category)', 'NUM_UNIQUE(data.state)',
       'SKEW(data.Unnamed: 0)', 'SKEW(data.amt)', 'SKEW(data.cc_num)',
       'SKEW(data.city_pop)', 'SKEW(data.gender)', 'SKEW(data.is_fraud)',
       'SKEW(data.lat)', 'SKEW(data.long)', 'SKEW(data.merch_lat)',
       'SKEW(data.merch_long)', 'SKEW(data.unix_time)', 'SKEW(data.zip)',
       'STD(data.Unnamed: 0)', 'STD(data.amt)', 'STD(data.cc_num)',
       'STD(data.city_pop)', 'STD(data.gender)', 'STD(data.is_fraud)',
       'STD(data.lat)', 'STD(data.long)', 'STD(data.merch_lat)',
       'STD(data.merch_long)', 'STD(data.unix_time)', 'STD(data.zip)',
       'SUM(data.Unnamed: 0)', 'SUM(data.amt)', 'SUM(data.cc_num)',
       'SUM(data.city_pop)', 'SUM(data.gender)', 'SUM(data.is_fraud)',
       'SUM(data.lat)', 'SUM(data.long)', 'SUM(data.merch_lat)',
       'SUM(data.merch_long)', 'SUM(data.unix_time)', 'SUM(data.zip)',
       'DAY(first_data_time)', 'MONTH(first_data_time)',
       'WEEKDAY(first_data_time)', 'YEAR(first_data_time)',
       'MODE(data.DAY(dob))', 'MODE(data.DAY(trans_date_trans_time))',
       'MODE(data.MONTH(dob))', 'MODE(data.MONTH(trans_date_trans_time))',
       'MODE(data.WEEKDAY(dob))', 'MODE(data.WEEKDAY(trans_date_trans_time))',
       'MODE(data.YEAR(dob))', 'MODE(data.YEAR(trans_date_trans_time))',
       'NUM_UNIQUE(data.DAY(dob))',
       'NUM_UNIQUE(data.DAY(trans_date_trans_time))',
       'NUM_UNIQUE(data.MONTH(dob))',
       'NUM_UNIQUE(data.MONTH(trans_date_trans_time))',
       'NUM_UNIQUE(data.WEEKDAY(dob))',
       'NUM_UNIQUE(data.WEEKDAY(trans_date_trans_time))',
       'NUM_UNIQUE(data.YEAR(dob))',
       'NUM_UNIQUE(data.YEAR(trans_date_trans_time))'],
      dtype='object')

In [113]:
feature_matrix.head()

,COUNT(data),MAX(data.Unnamed: 0),MAX(data.amt),MAX(data.cc_num),MAX(data.city_pop),MAX(data.gender),MAX(data.is_fraud),MAX(data.lat),MAX(data.long),MAX(data.merch_lat),...,MODE(data.YEAR(dob)),MODE(data.YEAR(trans_date_trans_time)),NUM_UNIQUE(data.DAY(dob)),NUM_UNIQUE(data.DAY(trans_date_trans_time)),NUM_UNIQUE(data.MONTH(dob)),NUM_UNIQUE(data.MONTH(trans_date_trans_time)),NUM_UNIQUE(data.WEEKDAY(dob)),NUM_UNIQUE(data.WEEKDAY(trans_date_trans_time)),NUM_UNIQUE(data.YEAR(dob)),NUM_UNIQUE(data.YEAR(trans_date_trans_time))
trans_num,,,,,,,,,,,,,,,,,,,,,
2da90c7d74bd46a0caf3777415b3ebd3,1,0.0,2.86,2.290000e+15,333497.0,1.0,0.0,33.9659,-80.9355,33.986391,...,1968,2020,1,1,1,1,1,1,1,1
324cc204407e99f51b0d6ca0055005e7,1,1.0,29.84,3.570000e+15,302.0,0.0,0.0,40.3207,-110.4360,39.450498,...,1990,2020,1,1,1,1,1,1,1,1
c81755dbbbea9d5c77f094348a7579be,1,2.0,41.28,3.600000e+15,34496.0,0.0,0.0,40.6729,-73.5365,40.495810,...,1970,2020,1,1,1,1,1,1,1,1
17003d7ce534440eadb10c4750e020e5,1,6.0,133.93,2.130000e+14,1139.0,0.0,0.0,40.5070,-123.9743,41.499458,...,1951,2020,1,1,1,1,1,1,1,1
2159175b9efe66dc301f149d3d5abf8c,1,3.0,60.05,3.590000e+15,54767.0,1.0,0.0,28.5697,-80.8191,28.812398,...,1987,2020,1,1,1,1,1,1,1,1